<html>
    <head>

  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        {% block head %}
        <title>Base</title>
        {% endblock %}
    </head>
    <body>
    <br>
    <div class="container">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Home</a>
    </div>
    <ul class="nav navbar-nav">
        <li class="active"><a href="/accounts/register">Register</a></li>
      <li class="active"><a href="/accounts/login">Login</a></li>
         <li class="active"><a href="/accounts/logout">Logout</a></li>
      <li class="active"><a href="/accounts/profile">Profile</a></li>
        <li class="active"><a href="/accounts/profile/edit">Edit Profile</a></li>
      <li class="active"><a href="/accounts/change-password">Change Password</a></li>
    </ul>
  </div>
</nav>
     </div>
           {% block body %}
           {% endblock %}
     </body>
</html>
